/* styles.css */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-image: url(image/—Pngtree—cartoon\ green\ protection\ environment\ background_930260.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-position: center;
}

.container {
    
  width: 100%;
  max-width: 480px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.form-content {
  padding: 20px;
}

h1 {
  margin-top: 0;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  font-size: 32px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remember-me input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.checkbox-label {
  font-size: 24px;
  vertical-align: middle;
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: #333;
  text-decoration: none;
}

#switchToSignUp,
#switchToLogin {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}
