*{
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color: whitesmoke;
    color: #000;
}
a{
    color: green;
    font-weight: bolder;
    text-decoration: none;
}
h1{
    font-size: 16px;
    font-weight: bolder;
}
.container{
    margin: 20px;
    padding: 20px;
}
.subforum{
    margin-top: 20px;
}
.subforum-title{
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}
.subforum-description *{
    margin-block: 0;
}
.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;

}
.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: lawngreen;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subforum-icon{
    font-size: 45px;

}
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(36, 255, 12, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }
}
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

}

header{
    margin-inline: 10px;
}
.navbar{
    display: flex;
    align-items: center;
}
.navigation{
    background-color: limegreen;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}
.nav-list{
    list-style-type: none;
    overflow: hidden;
}
.nav-item{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
}
.nav-item a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
}
.hide{
    display: none;
}
.bar-icon{
    font-size:  60px;
    display: inline-block;
    margin-right: 10px;
    color: black;
    cursor: pointer;
}
@font-face {
    font-family: aquire;
    src: url(icons/Aquire-BW0ox.otf);
}
.brand{
    font-size: 60px;
    display: inline-block;
    font-family: aquire;
}
.search-box{
    border: solid 1px limegreen;
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px green;
}
.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}
/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: limegreen;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  green;
    display: block;
    text-align: center;
}
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: lime;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #a4ff80;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}
.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: green;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px green;
}

.pagination a:hover{
    opacity: 0.5;
}
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: rgb(0, 0, 0);
}

.navigate a:hover{
    color:green;
    font-weight: bolder;
}
.note{
    color: #fff;
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

